<div class="continer">
  <div class="row">
    <div class="col-md-2">
      <div class="modal" id="loginmodal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title pull-left">EDUCATION CALCULATOR</h5>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="theme-color" for="">your child's age today?</label>
                  <input type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label class="theme-color" for="">At what age will your child enter college</label>
                  <input type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label class="theme-color" for="">No. of years to college</label>
                  <input type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label class="theme-color" for="">How many years will your child be in college? select a value of three, four or five</label>
                  <input type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label class="theme-color" for="">What is the current annual tution fee in your target university/college?</label>
                  <input type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label class="theme-color" for="">What is the annual tution fee increase rate?</label>
                  <input type="text" placeholder="" />
                </div>
                <div class="form-group">
                  <label class="theme-color" for="">How much have you saved for this need? 000.000.000.00. If you have invested your savings for this need.
                    What is your expected rate of return per annum? If not, please leave the field blank </label>
                  <input type="text" placeholder="" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
